/* Estilo Base */
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Navegação */
nav {
  background-color: #000000;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

.myname {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 48px;
  font-size: 46px;
  color: #0000a2;
  margin-bottom: -20px;
  font-family: 'Arial Narrow Bold', sans-serif
}

.myfunc {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 48px;
  font-size: 46px;
  color: #ffffff;
  margin-bottom: -2px;
  font-family: 'Arial Narrow Bold', sans-serif
}

/* Seções */
section {
  padding: 40px 0;
}

/* Títulos */
h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/* Imagens */
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Sobre Mim */
#sobre-mim {
  text-align: center;
  margin-top: 50px;
}

#sobre-mim p {
  line-height: 1.6;
}

#sobre-mim a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;

}

#sobre-mim .btn {
  cursor: pointer;
  color: blue;
  border-radius: 35px;
  background-color: #0000a2;
  color: #ffffff;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.7);
  /*text-shadow: 1px 1px 1px black;*/
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#sobre-mim a:hover {
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 35px, solid rgb(0, 0, 0);
  color: #000000;
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.9),
    -8px -8px 15px rgba(255, 255, 255, 0.9);
}

/* Footer */
footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer p {
  margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    text-align: left;
  }

  nav li {
    margin: 10px 0;
  }

  #sobre-mim p {
    text-align: left;
  }
}

.image-text-section {
  display: flex;
  /* Alinha os elementos em uma linha */
  flex-wrap: wrap;
  /* Permite que os elementos se quebrem em várias linhas */
  justify-content: space-between;
  /* Distribui o espaço uniformemente entre os elementos */
  margin: 0 auto;
  /* Centraliza a seção na página */
}

.image-container {
  width: 15%;
  /* Define a largura de cada contêiner de imagem */
  margin: 10px;
  /* Adiciona espaço entre os contêineres */
  text-align: center;
  /* Alinha o texto centralizado */
}

.image-container img {
  width: 20%;
  /* Ajusta a largura da imagem ao contêiner */
  margin-bottom: 1px;
  /* Adiciona espaço abaixo da imagem */
}

.image-container a {
  display: inline-block;
  /* Faz o link exibir como um bloco */
  padding: 5px 10px;
  /* Adiciona preenchimento ao link */
  background-color: #007bff;
  /* Define a cor do fundo do link */
  color: white;
  /* Define a cor do texto do link */
  text-decoration: none;
  /* Remove a decoração sublinhada padrão */
  border-radius: 15px;
  /* Adiciona cantos arredondados ao link */
}

#projects {
  color: #0026c0;
  font-size: 35px;
}